/* Header */
.header {
  border-bottom: 1px solid;
  padding: 10px 0;
};

.header .inner-logo img {
  max-height: 50px;
  max-width: 100%;
};

.header .inner-menu > ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
};

.header .inner-menu > ul > li {
  margin: 20px;
};

/* Footer */
